RewriteEngine On
RewriteCond %{HTTP_HOST} ^https:www.la-chouette-agence.stephane-malho.fr/ [NC]
RewriteRule ^(.*)$ https://la-chouette-agence.stephane-malho.fr//$1 [L,R=301]

Content-Security-Policy: script-src 'self' https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js
Content-Security-Policy: script-src 'self' https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css

Header set X-Content-Type-Options "nosniff"

Header always set X-Frame-Options "SAMEORIGIN"
